.card
    width: 32rem

.ribbon
    &::before, &::after
        position: absolute
        left: 0
        top: 0
        width: 3.3rem
        height: 3rem
        background: #a02020
        content: ""
        transform: rotate(45deg)
        z-index: -100
    &::after
        left: auto
        right: .3rem
        bottom: 1rem
        height: 3rem

@media screen and ( max-width: 640px )
    .card
        width: 85%
    .card-text
        font-size: .7rem