
.scroll-downs
    position: absolute
    right: 0
    bottom: 10%
    left: 0
    margin: auto

    width: 34px
    height: 55px

.mousey
    width: 3px
    padding: 10px 15px
    height: 35px
    border: 3px solid #fff
    border-radius: 25px
    opacity: 0.75
    box-sizing: content-box

.scroller
    width: 3px
    height: 10px
    border-radius: 25%
    background-color: #fff
    animation-name: scroll
    animation-duration: 2.2s
    animation-timing-function: cubic-bezier(.15,.41,.69,.94)
    animation-iteration-count: infinite

@media screen and ( max-width: 1700px )
    .scroll-downs
        bottom: 20%
@media screen and ( max-width: 1600px )
    .scroll-downs
        bottom: 30%
@media screen and ( max-width: 1400px )
    .scroll-downs
        bottom: 40%
@media screen and ( max-width: 1280px )
    .scroll-downs
        display: none

@keyframes scroll
    0%
        opacity: 0
    10%
        transform: translateY(0)
        opacity: 1
    100%
        transform: translateY(15px)
        opacity: 0
