@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

@layer components {
    .h-98 {
        height: 27rem;
    }

    .h-99 {
        height: 32rem;
    }

    .h-100 {
        height: 36rem;
    }
}

@layer utilities {
    .filter-grayscale {
        filter: grayscale(100%);
    }

    .flex-0 {
        flex: 0;
    }

    .border-b-3 {
        border-bottom-width: 3px;
    }

    .max-h-100 {
        max-height: 30rem;
    }

    .max-h-110 {
        max-height: 66rem;
    }
}


.gatsby-image-wrapper [data-main-image] {
    opacity: 1;
    transition: none;
    will-change: unset;
    transform: unset;
}

.gatsby-image-wrapper,
.gatsby-image-wrapper * {
    background-color: transparent !important;
}


@media (max-width: 640px) {
    .hero-image {
        display: none !important;
    }
}